.ad-slot {
  margin: 20px auto;
}

.ad-leaderboard {
  width: 100%;
  max-width: 728px;
}

.ad-banner {
  width: 100%;
  max-width: 320px;
}

.ad-rectangle {
  width: 100%;
  max-width: 300px;
}

.ad-skyscraper {
  position: sticky;
  top: 100px;
}

@media (max-width: 768px) {
  .ad-leaderboard {
    max-width: 320px;
    min-height: 50px;
  }
  
  .ad-skyscraper {
    display: none;
  }
}
